[Unit]
Description=Sway Screenshot Daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/desktop/sway-easyshot daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
